@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body,
html {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #e9f1ff;
}
.header {
  background-color: #e9f1ff;
}
.header-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1536px;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 8rem;
  padding-right: 16rem;
}
.header-items-left {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  column-gap: 3.8rem;
}
.menu-wrapper {
  display: flex;
}
.button-container {
  outline: 0.2rem solid transparent;
  outline-offset: 0.2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* -webkit-appearance: button; */
  background-color: transparent;
  background-image: none;
}
.button-wrapper {
  padding: 0.875rem;
  border-radius: 1.4rem;
  display: flex;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  background-color: #f8fafc;
}
.plain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-slash {
  margin-bottom: 0.25rem;
  display: block;
  height: 0.25rem;
  width: 1.8rem;
  border-radius: 1rem;
  background-color: rgb(148 163 184);
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-slash:last-child {
  margin-bottom: unset;
}
.header-left_next {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}
.switch-color-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
  background: none;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.switch-color-mode:hover .daylight {
  transform: rotate(60deg);
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.daylight {
  font-size: 2rem;
  --ionicon-stroke-width: 4.2rem;
}
.nav-container {
  display: flex;
  column-gap: 2.25rem;
  align-items: center;
}
.nav-link {
  background-color: transparent;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.635rem;
  padding-bottom: 0.635rem;
  color: rgb(148 163 184);
}
.nav-link:hover {
  color: #0f172a;
}
.text {
  line-height: 1.25rem;
  font-size: 1.6rem;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/************************ HERO SECTION */
.section-hero {
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
}
.hero-text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.hero-title {
  font-size: 7rem;
  text-align: left;
  color: #0f172a;
  line-height: 9rem;
  letter-spacing: 0.07rem;
  font-weight: 500;
  margin-bottom: unset;
}
.hero-description {
  line-height: 3.4rem;
  font-size: 2rem;
  text-align: left;
  color: #0f172a;
  letter-spacing: 0.02rem;
  margin-top: 1.5rem;
  margin-bottom: unset;
}
.cta-container {
  margin-top: 2.5rem;
  display: flex;
  row-gap: 1rem;
  flex-direction: row;
  column-gap: 3rem;
}
.hero-figures-container {
  padding-right: 0.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
  background-color: #fff;
  column-gap: 1.4rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.figures-heading {
  font-size: 1.4rem;
  line-height: 1.25rem;
  color: #94a3b8;
}
.figures-description {
  font-size: 1.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  line-height: 1.25rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  background-color: #f1f5f9;
  border-radius: 2rem;
}
.description_wrapper {
  display: inline-flex;
  align-items: center;
  line-height: 1.5rem;
}
.description-wrapper_sign {
  margin-right: 0.125rem;
}
.description-wrapper_digits {
  display: flex;
  position: relative;
  height: 2.3rem;
  align-items: center;
  /* vertical-align: auto; */
  justify-content: center;
  letter-spacing: 0.1rem;
}
.hero-img {
  width: 50%;
  display: flex;
}
.hero-img img {
  height: 60rem;
  width: 100%;
  display: block;
  /* vertical-align: middle; */
}

/************************ LOGO SLIDE */
.section-slides {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
}
.slides-container {
  max-width: 1690px;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
}
.slides-wrapper {
  overflow: hidden;
}
.slides-wrapper_settings {
  animation-name: sliding-x;
  animation-timing-function: linear;
  display: flex;
  animation-duration: 15s;
  animation-direction: normal;
  animation-play-state: running;
  height: auto;
  width: 1691px;
  animation-iteration-count: infinite;
}
@keyframes sliding-x {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
.content {
  margin-right: 6rem;
  object-fit: contain;
  display: flex;
  align-items: center;
  min-width: max-content;
  column-gap: 1.6rem;
}
.content img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  width: 3.6rem;
}

/************************ CARD SECTION */
.features-card-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  scroll-margin-top: 6rem;
  row-gap: 4rem;
}
.card-1 {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  border-radius: 4rem;
  background-image: linear-gradient(180deg, #5dbc69 -10.03%, #54ac61 110.03%);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.divRight-video {
  width: 53rem;
  height: auto;
  border-radius: 3rem;
}
.videoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
.videoDiv-btn_container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2.8rem;
  padding-right: 2.8rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  column-gap: 2rem;
  background-color: #cbd5e14d;
  border-radius: 5rem;
  cursor: pointer;
  border: none;
}
.videoDiv-icon {
  display: flex;
  align-items: center;
  font-size: 5rem;
  color: red;

  border-radius: 1rem;
}
.youtube-icon {
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.videoDiv-btn_container:hover .youtube-icon {
  transform: scale(1.2);
}
.videoDiv-text {
  font-size: 3.2rem;
  font-weight: 100;
  color: #0f172a;
}
.features-card-2 {
  display: flex;
  flex-direction: row;
  row-gap: 4rem;
  column-gap: 4rem;
  width: 100%;
}

.card-2,
.card-3 {
  border-radius: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.card-2 {
  background-image: linear-gradient(180deg, #4d83ef -10.03%, #145ceb 110.03%);
}
.card-3 {
  background-color: #fff;
}
.card-3 h2,
.card-3 .divLeft-description,
.card-3 .cta-text {
  color: #0f172a;
}
.card-3 .cardWrapper-2 {
  background-color: #145ceb31;
}
.card-3 .cardWrapper-2-icon,
.card-3 .cta-text {
  color: #145ceb;
}

.card-2 .divLeft-ctaContainer,
.card-3 .divLeft-description {
  justify-self: flex-end;
}

/************************ CARD SECTION */
.sectioning-card {
  display: flex;
  align-items: center;
  padding-top: 10rem;
  flex-direction: column;
  width: 100%;
}
.animated-title {
  max-width: 85.9rem;
  margin-bottom: 1.6rem;
  line-height: 5.6rem;
  font-size: 4rem;
  text-align: center;
  color: #0f172a;
  font-weight: 500;
}

/************************ CARD SECTION */
.verticalSlides-wrapper {
  padding: 0 4rem;
  display: flex;
  flex-direction: row;
  background-color: #f8fafc;
  border-radius: 4rem;
  column-gap: 0;
  height: 50rem;
  overflow-y: hidden;
}
.wrapper-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}
.wrapper-left h2 {
  text-align: left;
  font-size: 5.2rem;
  line-height: 8rem;
  width: 91.5%;
  color: #0f172a;
  letter-spacing: 0.06rem;
  font-weight: 500;
}
.wrapper-left p {
  text-align: left;
  width: 91.5%;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 3rem;
  letter-spacing: 0.16rem;
}

.wrapper-right {
  display: flex;
  width: 58.333333%;
  column-gap: 3rem;
  margin-top: 0;
  justify-content: center;
}
.slide-width {
  width: 33.3%;
}
.slide-div {
  display: flex;
  flex-direction: column;
  height: 60rem;
  overflow: hidden;
}
.slideContent-animateSetting {
  animation-iteration-count: infinite;
  animation-name: verticalAnimation;
  animation-timing-function: linear;
  display: flex;
  flex-direction: column;
  height: fit-content;
  animation-duration: 15s;
  animation-direction: normal;
  animation-play-state: running;
  width: auto;
}

@keyframes verticalAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.middle {
  animation-iteration-count: infinite;
  animation-name: verticalAnimationReversed;
  animation-timing-function: linear;
  display: flex;
  flex-direction: column;
  height: fit-content;
  animation-duration: 15s;
  animation-direction: normal;
  animation-play-state: inherit;
  width: auto;
}

@keyframes verticalAnimationReversed {
  0% {
    transform: translateY(-90%);
  }
  100% {
    transform: translateY(0);
  }
}
.slideContent {
  margin-bottom: 3rem;
  min-height: 10rem;
  max-width: 18rem;
  padding: 4rem 1rem 1rem 1rem;
  background-color: #fff;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slideContent img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  width: 10rem;
  height: 10rem;
}
.slideContent span {
  font-size: 1.6rem;
  width: 14.8rem;
  margin-top: 2.5rem;
  color: #0f172a;
  text-align: center;
  padding: 1rem 1.6rem;
  background-color: #f1f5f9;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************ VOTINGCHAIN SECTION */
.votingChain-section {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  align-items: center;
  justify-content: center;
}
