@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/************************ THEME SWITCHER */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 30px;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition-duration: 0.3s;
  background-color: rgb(248 250 252);
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #2e0449;
  transition-duration: 0.3s;
}

#checkbox:checked + .toggle .bars {
  margin-left: 13px;
}

#checkbox:checked + .toggle #bar2 {
  transform: rotate(135deg);
  margin-left: 0;
  transform-origin: center;
  transition-duration: 0.3s;
}

#checkbox:checked + .toggle #bar1 {
  transform: rotate(45deg);
  transition-duration: 0.3s;
  transform-origin: left center;
}

#checkbox:checked + .toggle #bar3 {
  transform: rotate(-45deg);
  transition-duration: 0.3s;
  transform-origin: left center;
}

/************************ THEME SWITCHER */
.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

input:checked + .slider {
  background-color: #183153;
}

input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

/************************ LOGO SLIDE */

.slides-wrapper_settings {
  animation-name: sliding-x;
  animation-timing-function: linear;
  display: flex;
  animation-duration: 15s;
  animation-direction: normal;
  animation-play-state: running;
  height: auto;
  width: auto;
  animation-iteration-count: infinite;
}
@keyframes sliding-x {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-130%);
  }
}

.animation_settings {
  animation-name: sliding-y;
  animation-timing-function: linear;
  display: flex;
  animation-duration: 15s;
  animation-direction: normal;
  animation-play-state: running;
  height: fit-content;
  width: auto;
  animation-iteration-count: infinite;
}
@keyframes sliding-y {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-60%);
  }
}
.animation_settings2 {
  animation-name: sliding-y-2;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-direction: normal;
  animation-play-state: running;
  height: fit-content;
  width: auto;
  animation-iteration-count: infinite;
}
@keyframes sliding-y-2 {
  0% {
    transform: translateY(-60%);
  }

  100% {
    transform: translateY(0%);
  }
}
