blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
img,
video {
  height: auto;
  max-width: 100%;
}

.hidden {
  display: none;
}
.cursor {
  cursor: pointer;
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.cta-btn-wrapper {
  display: flex;
  width: fit-content;
  align-items: center;
  position: relative;
  border-radius: 1.4rem;
  background-color: rgb(17 24 39);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  height: 3rem;
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cta-btn-wrapper:link {
  text-decoration: none;
}
.cta-text {
  color: #e9f1ff;
  font-size: 1.6rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}
.cta-btn-wrapper:hover {
  transform: scale(1.2);
}
.page-padding {
  padding-left: 5rem;
  padding-right: 5rem;
}

/* features component */
.card-1_divLeft {
  display: flex;
  justify-content: space-between;
  width: 50%;
  flex-direction: column;
}
.card-1_divLeft-titleContainer {
  display: flex;
  flex-direction: row;
  column-gap: 2.6rem;
  align-items: center;
}
.titleContainer-logoDiv {
  display: flex;
  width: 15rem;
  height: 10rem;
  align-items: center;
}
.titleContainer-heading {
  font-size: 4rem;
  font-weight: 500;
  text-align: left;
  line-height: 4.8rem;
  letter-spacing: 0.04rem;
  color: #fff;
  /* margin-top: 0; */
}
.titleContainer-logoDiv {
  max-width: 10rem;
}
.logoDiv-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.divLeft-description {
  line-height: 3rem;
  font-size: 2rem;
  text-align: left;
  margin-top: 2.6rem;
  letter-spacing: 0.016rem;
  color: #fff;
}
.divLeft-ctaContainer {
  display: flex;
  margin-top: 2.5rem;
  column-gap: 2rem;
}
.cardWrapper {
  background-color: #fff;
}
.cardWrapper-2 {
  background-color: #ffffff33;
}
.cardText {
  color: #0f172a;
  font-size: 1.6rem;
}
.cardWrapper:hover,
.cardWrapper-2:hover {
  transform: scale(1.1);
}
.cardWrapper-2-icon {
  color: #fff;
  font-size: 2.2rem;
  margin-left: 1.2rem;
  transform: rotateX(180deg);
}
.card-1_divRight {
  display: flex;
  align-items: center;
  margin-left: 6rem;
  width: 50%;
}

.w-full {
  width: 100%;
}
.padding-all {
  padding: 2.5rem;
}
.blue {
  color: #3b82f6;
}
